.nav {
  grid-area: n;
  background: #7cbdc9;
  padding: 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  color: white;
}

.menuLink {
  margin: 0;
  text-decoration: none;
  color: white;
}

/* .menuLink:visited {
  color: white;
} */

.menuLink.activeLink {
  color: gold;
}