.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
  color: white;
}

.dialog {

}

.dialog.active {
  color: gold
}

.messages {
  padding: 10px;
}

.message {
  margin-bottom: 30px;
  padding-left: 30px;
}

.message:first-child {
  padding-top: 30px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}